body{
    background: #6c5ce7;
}
.box{
    background: #fff;
    width: 200px;
    height: 200px;
    position: relative;
    animation: box;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transition: 2s;
}

.box:hover{
    cursor: pointer;
    background: #e74c3c;
}



/* @keyframes box{
    0%{
        left: 0;
        top: 0;
        background: red;
    }
    25%{left: 300px; top: 0;background: blue;}
    50%{left: 300px;top: 300px;background: green;}
    75%{left: 0;top: 300px;background: red;}
    100%{left: 0;top: 0;background:#000;}
} */